In [5]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple

In [28]:
T=('String', [5,4.32,True,'l',1+2j], 3.35, (1,2,'2nd Tuple',[1,2,]))

In [29]:
T

('String', [5, 4.32, True, 'l', (1+2j)], 3.35, (1, 2, '2nd Tuple', [1, 2]))

In [ ]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.
#What will be the data type of the above given variable.

In [41]:
l = [42, "Hello", 3.14, True, [1, 2, 3], {"name": "Alice", "age": 30}, None, (4, 5), {"apple", "banana"}, 99.9]

for i in l:
    print('Element:',(i))
    print (type (i))

Element: 42
<class 'int'>
Element: Hello
<class 'str'>
Element: 3.14
<class 'float'>
Element: True
<class 'bool'>
Element: [1, 2, 3]
<class 'list'>
Element: {'name': 'Alice', 'age': 30}
<class 'dict'>
Element: None
<class 'NoneType'>
Element: (4, 5)
<class 'tuple'>
Element: {'banana', 'apple'}
<class 'set'>
Element: 99.9
<class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

The / operator is used to perform division operations. 
  Eg. result = 7 / 2
      print(result)  # Output: 3.5
(ii) The % operator is used for the modulo operation, which returns the remainder when one number is divided by another. 
    Eg. result = 7 % 3
        print(result)  # Output: 1
  Eg 2. for i in range(10):
        print(i % 3)
Output.
0
1
2
0
1
2
0
1
2
0

(iii) The // operator is used for floor division. Floor division returns the largest integer that is less than or equal to the result of dividing one number by another. 
 Eg. result = 7 // 3
    print(result)  # Output: 2
(iv)  The ** operator is used for exponentiation. It allows us to raise a number to a specified power.
 Eg. result = 2 ** 3
  print(result)  # Output: 8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [1]:
l = [42, "Hello", 3.14, True, [1, 2, 3], {"name": "Alice", "age": 30}, None, (4, 5), {"apple", "banana"}, 99.9]

In [3]:
for i in l:
    print('Element:',(i))
    print (type (i))

Element: 42
<class 'int'>
Element: Hello
<class 'str'>
Element: 3.14
<class 'float'>
Element: True
<class 'bool'>
Element: [1, 2, 3]
<class 'list'>
Element: {'name': 'Alice', 'age': 30}
<class 'dict'>
Element: None
<class 'NoneType'>
Element: (4, 5)
<class 'tuple'>
Element: {'banana', 'apple'}
<class 'set'>
Element: 99.9
<class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [7]:
A = int(input("Enter the dividend (A): "))
B = int(input("Enter the divisor (B): "))

# Initialize a counter for the number of divisions
count = 0

# Use a while loop to perform divisions until A is no longer divisible by B
while A % B == 0:
    A = A // B  # Integer division to get the quotient
    count += 1

# Check if A becomes 0 (purely divisible), and print the result
if A == 0:
    print(f"{count} times, {B} divides {A} purely.")
else:
    print(f"{B} does not divide {A} purely. Remainder: {A}")

Enter the dividend (A):  50
Enter the divisor (B):  5

5 does not divide 2 purely. Remainder: 2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [8]:
my_list = list(range(1, 26))

# Use a for loop to iterate through the list
for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable and immutable are terms used to describe the characteristics of data types in programming. These characteristics refer to whether the data can be changed after it's created (mutable) or whether it remains constant once created (immutable).

Mutable Data Types:
Lists (Mutable): Lists in Python are mutable, which means we can change their contents after creation. We can add, remove, or modify elements in a list.

In [11]:
my_list = [1, 2, 3]

In [12]:
my_list

[1, 2, 3]

In [13]:
my_list.append(4)       # Add an element

In [14]:
my_list

[1, 2, 3, 4]

In [15]:
my_list[0] = 0         # Modify an element

In [16]:
my_list

[0, 2, 3, 4]

In [17]:
my_list.remove(2)      # Remove an element

In [18]:
my_list

[0, 3, 4]

Dictionaries (Mutable): Dictionaries in Python are also mutable. We can add, remove, or modify key-value pairs in a dictionary.

In [28]:
my_dict = {"name": "Alice", "age": 30}

In [29]:
my_dict

{'name': 'Alice', 'age': 30}

In [30]:
my_dict["age"] = 31     # Modify a value

In [31]:
my_dict

{'name': 'Alice', 'age': 31}

In [32]:
my_dict["city"] = "XYZ" # Add a new key-value pair

In [33]:
my_dict

{'name': 'Alice', 'age': 31, 'city': 'XYZ'}

In [34]:
del my_dict["age"]      # Remove a key-value pair

In [35]:
my_dict

{'name': 'Alice', 'city': 'XYZ'}

Sets (Mutable): Sets in Python are mutable. You can add or remove elements from a set.

In [37]:
my_set = {1, 2, 3}

In [38]:
my_set

{1, 2, 3}

In [39]:
my_set.add(4)    # Add an element

In [40]:
my_set

{1, 2, 3, 4}

In [41]:
my_set.remove(2) # Remove an element

In [42]:
my_set

{1, 3, 4}

Immutable Data Types:
Integers (Immutable): Integer values cannot be changed once they are assigned.
my_int = 5
 Attempting to change the value of my_int will result in an error.

In [43]:
my_int = 5

In [44]:
my_int

5

In [45]:
my_int.add(2)

AttributeError: 'int' object has no attribute 'add'

Strings (Immutable): Strings are also immutable. We cannot change individual characters in a string.
my_str = "Hello"
Attempting to change my_str[0] to a different character will result in an error.

In [46]:
my_tuple = (1, 2, 3)
#Attempting to modify an element of my_tuple will result in an error.

In [47]:
my_tuple

(1, 2, 3)

Frozen Sets (Immutable): Frozen sets are sets that are immutable. Once created, you cannot add or remove elements from them.

In [50]:
my_frozen_set = frozenset({1, 2, 3})
# Attempting to add or remove elements from my_frozen_set will result in an error.

In [51]:
my_frozen_set

frozenset({1, 2, 3})

The mutability or immutability of a data type affects how you can use and manipulate data in your Python programs. Mutable data types allow for in-place modifications, while immutable data types ensure data integrity and safety by preventing unintended changes.